@model SliderImage
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Create New Category</h4>

                    <form enctype="multipart/form-data" class="forms-sample" method="post" asp-controller="Slider" asp-action="Edit">
                        <div class="form-group">
                            <label asp-for="File">Name</label>
                            <input class="form-control" asp-for="File" placeholder="Name">
                            <span class="text-danger" asp-validation-for="File"></span>
                        </div>
                      


                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>